.env
.idea
.vscode
gcs.json
gcs1.json
minio
node_modules
publish/**/src
publish/**/src
publish/**/src
publish/**/dist/**/*.js
publish/**/dist/**/*.js.map
publish/**/dist/**/*.d.ts
tests_local
tests/test_directory
