// @import "~bootstrap/scss/_functions";
// @import "~bootstrap/scss/_variables";
// @import "~bootstrap/scss/bootstrap-reboot";
// @import "~bootstrap/scss/bootstrap-grid";
// @import "~bootstrap/scss/_forms";
// @import "~bootstrap/scss/_buttons";
// @import "~bootstrap/scss/_navbar";
// @import "~bootstrap/scss/_transitions";
// @import "~bootstrap/scss/utilities/_spacing";
// @import "~bootstrap/scss/utilities/_float";
// @import "~bootstrap/scss/utilities/_align";
// @import "~bootstrap/scss/utilities/_text";
// @import "~bootstrap/scss/utilities/_position";
// @import "~bootstrap/scss/utilities/_flex";

body {
  background-color: lavender;
  display         : flex;
  flex-direction  : row;
  margin          : 20px;
  justify-content : flex-start;
}

#form {
  margin-top   : 20px;
  margin-bottom: 20px;

  #postal-code {
    max-width: 120px;
  }

  #number {
    max-width: 120px;
  }

  #addition {
    max-width: 120px;
  }

  .input-group {
    margin-top: 10px;
  }
}

#dropdowns {
  display       : flex;
  flex-direction: row;

  .topmenuitem {
    margin: 10px 10px 15px 0;

    &.input-group {
      .btn:nth-child(2) {
        margin-right: 10px;
      }
    }
  }
}